body {
    background-color: black;
}

.poster {
    color:white;
    text-align:center;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    font-family: "Libre Baskerville", serif;
}

.poster h1{
    font-size: 3rem;
}
.motivation-img {
    width: 100%;
    border: 5px solid white;
}